{
    "env":
    {
        "default":
        {
            "presets": ["@babel/env", "@babel/preset-typescript"],
            "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread"]
        },
        "production":
        {
            "presets": ["@babel/env", "@babel/preset-typescript"],
            "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread"]
        },
        "development":
        {
            "presets": ["@babel/env", "@babel/preset-typescript"],
            "plugins": ["@babel/proposal-class-properties", "@babel/proposal-object-rest-spread"]
        }
    }
}